<!DOCTYPE html>
<html>
  <head>
    <title>Money Formatter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Money Formatter 2020</h1>
      <h2>If the value is not parse properly the system returns: 1.00</h2>
      <form role="form" method='POST' action='/'>
        <div class="form-group">
          <input type="text" name="money" class="form-control" id="money" placeholder="Enter the value to format" style="max-width: 300px;" autofocus required>
          <p>The formatted value is: <strong id="result">{{results}}</strong></p>
        </div>
        <button type="submit" id="submit" class="btn btn-default">Submit</button>
      </form>
      <br>
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>